In [1]:
print("hola")

hola

In [3]:
name="fiorella"

In [4]:
name

'fiorella'

In [1]:
last_name= "valentina"

In [2]:
last_name

'valentina'

In [5]:
# asignacion de variables
number_1 = 22
number_2 = 23

# operaciones
sum = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

In [6]:
# resultados
print(sum)
print(substract)
print(multi)
print(div)

45
-1
506
0.9565217391304348

In [8]:
# resultados
print("resultado de la suma es:", sum)
print(f"resultado de la resta es: {substract}")
print(f"resultado de la resta es: {multi}")
print(f"resultado de la resta es: {div}")

resultado de la suma es: 45
resultado de la resta es: -1
resultado de la resta es: 506
resultado de la resta es: 0.9565217391304348

In [9]:
# tipos de datoos en phyton
print(type(last_name))
print(type(number_1))
print(type(div))

<class 'str'>
<class 'int'>
<class 'float'>

In [14]:
# ingreso de datos por teclado
# asignacion de variables
number_1 = input("ingrese number_1: ")
number_1= float(number_1)

number_2 = input("ingrese number_2: ")
number_2 = float(number_2)

# operaciones
sum = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

# resultados
print("resultado de la suma es:", sum)
print(f"resultado de la resta es: {substract}")
print(f"resultado de la resta es: {multi}")
print(f"resultado de la resta es: {div}")

resultado de la suma es: 21.0
resultado de la resta es: -1.0
resultado de la resta es: 110.0
resultado de la resta es: 0.9090909090909091

In [11]:
name_1 = input("nombre: ")
print(name_1)

fiore

In [32]:
# Listas
# int
# float
# strings

list_1 = ["jose", "maria", "juan", "ruperto", 12, 13, 14, 15, 16, 20.8, 55.5]

In [33]:
list_1

['jose', 'maria', 'juan', 'ruperto', 12, 13, 14, 15, 16, 20.8, 55.5]

In [17]:
list_1[0]

'jose'

In [18]:
list_1[4]

12

In [20]:
list_1[-1]

16

In [46]:
list_1[0:3]

['jose', 'maria', 'juan']

In [47]:
name_list = list_1[0:4]

In [23]:
name_list

['jose', 'maria', 'juan', 'ruperto']

In [30]:
integers_list = list_1[4:]

In [31]:
integers_list

[12, 13, 14, 15, 16]

In [34]:
float_list = list_1[9:]

In [35]:
float_list

[20.8, 55.5]

In [36]:
# clear: borra los elementos de la lista
integers_list.clear()

In [37]:
integers_list

[]

In [51]:
# copy: copia la lista
name_list_2 = name_list.copy()

In [52]:
print(name_list_2)

['jose', 'maria', 'juan', 'ruperto']

In [ ]:
# lent: permite contare los nombres de la lista
#apened: agrea elementos a la lista

### condicionales

In [ ]:
# sintansix de un condicional simple
# if condicion:
    #operacion
# condicion
# mayor que >
# menor que <
# mayor igual >=
# menor igual <=
# diferente !=
# igual? ==

In [56]:
day= input('dia de la semana:')
if day == ('lunes'):
    print('hoy lunes, voy a trabajar')
else:
    print('hoy no es lunes')

hoy no es lunes

In [2]:
# operadores logicos
# and y or
#
day= input('dia de la semana:')
momento_day = input('ingrese momento del dia:')

if (day =='lunes') and (momento_day == 'noche'):
    print('voy al cine 2x10')

else:
    print('hoy no es lunes')

voy al cine 2x10

In [1]:
# operadores logicos
# and y or
#
day= input('dia de la semana:')
momento_day = input('ingrese momento del dia:')

if (day =='lunes') or (momento_day == 'noche'):
    print('veo netflix')

else:
    print('no es lues')

no es lues