In [1]:
print("hola")

hola

In [3]:
name="fiorella"

In [4]:
name

'fiorella'

In [1]:
last_name= "valentina"

In [2]:
last_name

'valentina'

In [5]:
# asignacion de variables
number_1 = 22
number_2 = 23

# operaciones
sum = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

In [6]:
# resultados
print(sum)
print(substract)
print(multi)
print(div)

45
-1
506
0.9565217391304348

In [8]:
# resultados
print("resultado de la suma es:", sum)
print(f"resultado de la resta es: {substract}")
print(f"resultado de la resta es: {multi}")
print(f"resultado de la resta es: {div}")

resultado de la suma es: 45
resultado de la resta es: -1
resultado de la resta es: 506
resultado de la resta es: 0.9565217391304348

In [9]:
# tipos de datoos en phyton
print(type(last_name))
print(type(number_1))
print(type(div))

<class 'str'>
<class 'int'>
<class 'float'>

In [14]:
# ingreso de datos por teclado
# asignacion de variables
number_1 = input("ingrese number_1: ")
number_1= float(number_1)

number_2 = input("ingrese number_2: ")
number_2 = float(number_2)

# operaciones
sum = number_1 + number_2
substract = number_1 - number_2
multi = number_1 * number_2
div = number_1 / number_2

# resultados
print("resultado de la suma es:", sum)
print(f"resultado de la resta es: {substract}")
print(f"resultado de la resta es: {multi}")
print(f"resultado de la resta es: {div}")

resultado de la suma es: 21.0
resultado de la resta es: -1.0
resultado de la resta es: 110.0
resultado de la resta es: 0.9090909090909091

In [11]:
name_1 = input("nombre: ")
print(name_1)

fiore